DEBUG=0

ALLOWED_HOSTS=127.0.0.1,localhost,...
CORS_ALLOWED_ORIGINS=http://localhost,...

SECRET_KEY=""

GEMINI_API_KEY=""

DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
DEBUG=1 # 1 = debug; 0 = no debug


REDIS_URL=""
