DEBUG=0

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,tauri://localhost,http://tauri.localhost,tauri://127.0.0.1,http://tauri.127.0.0.1

SECRET_KEY=exampleSecretKeyAAAAAAAAAAAAsdokfgerifsdkfkds;gkd

GEMINI_API_KEY=validGeminiEpsteinKey

POSTGRES_DB="admin"
POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
POSTGRES_HOST=database
POSTGRES_PORT="5432"

REDIS_URL="redis://redis:6379/0"
